<!-- views/partials/filter.ejs -->
<div class="input-group">
  <input type="date" id="FromDate" name="FromDate"
         value="2016-07-20" class="date" />
      <button class="btn btn-default filter" type="button">Filter</button>
      <button class="btn btn-default list-meals" type="button">List all</button>
</div>
