<!-- views/partials/header.ejs -->

<div class="jumbotron">
  <h1>Calorie Counter</h1>
  <p>Add meal, filter eaten meals by day, calculates total calories for you.</p>
</div>
<div class="alert alert-success hidden" role="alert">Meal successfuly added!</div>
<div class="alert alert-danger hidden" role="alert">Invalid input</div>
<div class="alert alert-info hidden" role="alert">Meal deleted!</div>
