<!-- views/partials/input.ejs -->

<div class="input-group">
  <input type="text" class="form-control name" placeholder="Name of the food...">
  <input type="text" class="form-control calories" placeholder="Calories...">
  <input type="text" class="form-control date" placeholder="Date...">
  <span class="input-group-btn">
         <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-plus-sign"></span> Add meal</button>
  </span>
</div>
