<!-- views/partials/table.ejs -->

<div class="panel-heading">Meals</div>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
          <th>Name</th>
          <th>Calories</th>
          <th>Date</th>
      </tr>
  </thead>
</table>
