<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
    <% include ./partials/input %>
    <br>
    <br>
      <% include ./partials/filter %>
    <br>
    <br>
    <% include ./partials/table %>
    <% include ./partials/totalCalories %>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script src="../public/selectors.js"></script>
    <script src="../public/makeRequest.js"></script>
    <script src="../public/domFunctions.js"></script>
    <script src="../public/script.js"></script>
</body>
</html>
