<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
      <div class="page-header">
        <h1 class="text-center">Calorie Counter <small>cheeseburger</small></h1>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <% include ./partials/input %>
          <br>
          <% include ./partials/table %>
        </div>
    </div>

    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script src="../public/selectors.js"></script>
    <script src="../public/makeRequest.js"></script>
    <script src="../public/domFunctions.js"></script>
    <script src="../public/script.js"></script>
</body>
</html>
