<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Name of the food...">
            <input type="text" class="form-control" placeholder="Calories...">
            <input type="text" class="form-control" placeholder="Date...">
            <span class="input-group-btn">
                   <button class="btn btn-default" type="button">Add meal</button>
            </span>
          </div>
        </div>
        <div class="container">
            <h1>Calorie Counter</h1>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>
</html>
