<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container container-table">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
    <% include ./partials/input %>
    <br>
    <br>
      <% include ./partials/filter %>
    <br>
    <br>
    <% include ./partials/table %>
    <br>
    <% include ./partials/totalCalories %>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script src="../public/scripts/selectors.js"></script>
    <script src="../public/scripts/makeRequest.js"></script>
    <script src="../public/scripts/domFunctions.js"></script>
    <script src="../public/scripts/script.js"></script>
</body>
</html>
